.custom-color-light {
  color: #6c89d9;
}

.custom-color-light-bg {
  background-color: #d4dfff;
}

.custom-color {
  color: #3752fd;
}

.custom-color-bg {
  background-color: #3752fd;
}


.gradient-bg{
    background-image: linear-gradient(to right, #d4dfff, #3752fd);
}